<web-app>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>net.daergoth.MainServlet</servlet-class>
    </servlet>
​
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>nameChangeNum</param-name>
        <param-value>5</param-value>
    </context-param>
</web-app>